simplejson==3.17.2  # https://github.com/simplejson/simplejson
spotipy==2.16.1     # https://github.com/plamere/spotipy
tqdm==4.56.0s       # https://github.com/tqdm/tqdm
pytest==6.2.        # https://github.com/pytest-dev/pytest